<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  
    
	<div class="jumbotron">
      <h2>This is the Cart page</h2>
      <div id="cart_view">

      <div id="items_view">
        <% results.forEach(function(data) { %>
          <li><a href="/products?name=<%= data.name %>" id="product_redirect"><button class = "btn btn-default"> Add To Cart </button></a></li>
        <% }); %>
      </div>

      </div>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

//GET recieves the information from the items table in database, no changes are made    

</script>

</html>


