<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  
    
	<div class="jumbotron">
      <h2>This is the Cart page</h2>
      <div id="cart_view">

      <div id="items_view">
        <% results.forEach(function(data) { %>
           <form action="cart/deleteone" method="DELETE">
           <input type = "hidden" id="item" value = "<%= data.item_id %>"> 
          <li><button id="removeone" class = "btn btn-default" type="submit"> <%=data.item_name %> </button></a></li>
           </form>
        <% }); %>
      </div>
       <form action="cart/deleteall" method="DELETE">
           <input type = "hidden" id="name" value = "<%= data.username %>"> 
          <li><button id="removeall" class = "btn btn-default" type="submit"> Delete all Items </button></a></li>
           </form>

      </div>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

$('#removeone').off('click').on('click', function(){

    $.ajax({
        type: 'DELETE',
        url: ip+'/cart/deleteone',
        data: JSON.stringify({
              item_id: $('#item').val()
        }),
        contentType: "application/json",
        dataType: "json", 
        success: function(){
                console.log("Deleted?");
                window.location.replace(ip + "/cart");
                },
        error:  function(){
                console.log("fail");
                }
        });     
});

$('#removeall').off('click').on('click', function(){

    $.ajax({
        type: 'DELETE',
        url: ip+'/cart/deleteall',
        data: JSON.stringify({
              item_id: $('#name').val()
        }),
        contentType: "application/json",
        dataType: "json", 
        success: function(){
                console.log("Deleted?");
                window.location.replace(ip + "/cart");
                },
        error:  function(){
                console.log("fail");
                }
        });     
});


</script>

</html>


