<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  
    
	<div class="jumbotron">
      <h2>This is the Cart page</h2>
      <div id="cart_view">

      <div id="items_view">
        <% results.forEach(function(data) { %>
           <form method="DELETE" name="_method">
           <input type = "hidden" id="item" value = "<%= data.item_id %>"> 
          <li><button id="removeone" class = "btn btn-default" type="submit"> Remove <%=data.item_name %> from Cart</button></a></li>
           </form>
        <% }); %>
      </div>
        <form name="_method" method="DELETE">          
          <li><button id="removeall" class = "btn btn-default" type="submit"> Delete all Items </button></a></li>
        </form>
        <form name="_method" method="POST">          
          <li><button id="buy" class = "btn btn-default" type="submit"> Buy Items </button></a></li>
        </form>

      </div>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

$('#removeone').off('click').on('click', function(){

    $.ajax({
        type: 'DELETE',
        url: ip+'/cart/deleteone',
        data: JSON.stringify({
              item_id: $('#item').val()
        }),
        contentType: "application/json",
        dataType: "json", 
        success: function(){
                console.log("Deleted?");            
                },
        error:  function(){
                console.log("fail");
                }
        });     
});

$('#removeall').off('click').on('click', function(){

    $.ajax({
        type: 'DELETE',
        url: ip+'/cart/deleteall',      
        success: function(){
                console.log("Deleted");              
                },
        error:  function(){
                console.log("fail");
                }
        });     
});

$('#buy').off('click').on('click', function(){

    $.ajax({
        type: 'POST',
        url: ip+'/cart/buy',      
        success: function(){
                console.log("successful!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");              
                },
        error:  function(){
                console.log("fail");
                }
        });     
});


</script>

</html>


