<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  

	<div class="jumbotron">
      <h2>This is the products page</h2>
      <div id="items_view">
        <% results.forEach(function(data) { %>
          <li><p>Name: <%= data.name %></p></li>
          <li><p>Description: <%= data.description %></p></li>
          <li><p>Price: $<%= data.price %></p></li>
          <form action="cart" method="post" class="form-login">
          <button id="add_button" class="btn btn-lg btn-primary btn-block" type="submit">Add to Cart</button>
          </form>
        <% }); %>        
      </div>
    </div>  
</body>

<script>

var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

//GET recieves the information from the items table in database, no changes are made
$.ajax({
    url: ip+'/products',
    type: "GET",
    }).then(redraw, ERROR_LOG);

function redraw(data){
    console.log('redrawing', data);
    };  

$('#add_button').on('click', function(e){
e.preventDefault()
    $.ajax({
        type: 'POST',
        url: ip+'/cart/add',
        data: JSON.stringify({
              data.item_id
        }),
        dataType: "json", 
        success: function(){
                window.location.replace(ip + "/cart");
                },
        error:  function(){
                console.log("fail");
                }
        });     
});



</script>

</html>
