<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  

	<div class="jumbotron">
      <h2>This is the Profile page</h2>
      <div id="profile_view">
            <% results.forEach(function(data) { %>
              <li><p>Username: <%= data.username %></p></li>
              <li><p>Email: <%= data.email %></p></li>
            <% }); %>
            <li><a class="btn btn-default" href="/logout" role="button">Logout</a></li>  
      </div>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

//GET recieves the information from the items table in database, no changes are made    

</script>

</html>

