<!DOCTYPE html>
<html lang="en">
<head>
    <!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>  

    <div class="jumbotron">
        <h2>This is the register page</h2>
            
        <form action="register" method="put" class="form-login">
            <h2>Please Register in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button id="reg_button" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
         <a href = "/auth/facebook"><button class="btn btn-default">Register with Facebook</button></a>
    </div>
</body>

<script>

var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

//GET recieves the information from the items table in database, no changes are made
$.ajax({
    url: ip+'/register',
    type: "GET",
    }).then(redraw, ERROR_LOG);

function redraw(data){
    console.log('redrawing', data);
    }; 

$('#reg_button').on('click', function(e){
e.preventDefault()
    $.ajax({
        type: 'POST',
        url: ip+'/register/auth',
        data: JSON.stringify({
              username: $('#inputUsername').val(),
              password: $('#inputPassword').val(),
              email: $('#inputEmail').val()
        }),
        contentType: "application/json",
        dataType: "json", 
        success: function(){
                window.location.replace(ip + "/profile");
                },
        error:  function(){
                console.log("fail");
                }
        });     
});

</script>

</html>
