<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  
    
	<div class="jumbotron">
      <h2>PURCHASE SUCCESSFUL</h2>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

  

</script>

</html>
