<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  
    
	<div class="jumbotron">
      <h1>PURCHASE OF $<%= price %> SUCCESSFUL</h1>
        <br>
      <h2>Recommended items!</h2>
        <% results.forEach(function(data) { %>
           <li><a href="/products?item_id=<%= data.item_id %>" id="product_redirect"><button class = "btn btn-default"> <%= data.name %> </button></a></li>
        <% }); %>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

//Code to attempt to get the weather recommendations working 
/*$(document).ready(function () {
  var lat, lon, api_url;
   
  if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(gotLocation);
        function gotLocation(position){
            lat = position.coords.latitude;
            lon = position.coords.longitude;
            console.log(position);

            $.ajax({
                type: 'GET',
                url: ip+'/success/recommendations',
                data: JSON.stringify({
                    longitude: lon,
                    latitude: lat
                    }),
                contentType: "application/json",
                dataType: "json", 
                success: function(){               
                  //  window.location.replace(ip + "/profile");
                },
                error:  function(){
                    console.log("fail");
                }
        });                         
                
                
        }
  } else {
    alert('Your browser doesnt support geolocation. Sorry.');
  }
  
});*/


</script>

</html>
