<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  
    
	<div class="jumbotron">
      <h2>PURCHASE SUCCESSFUL</h2>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

$(document).ready(function () {
  var lat, lon, api_url;
  
  if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(gotLocation);
        function gotLocation(position){
            lat = position.coords.latitude;
            lon = position.coords.longitude;
            console.log(position);

            api_url = 'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&units=metric&appid=b49d6416c6dad2e25c7dd28389ce53e3';
        
            $.ajax({
                url : api_url,
                method : 'GET',
                success: function (data){
                   var temp = data.main.temp;
                   console.log(temp);
                }

            });

           $.ajax({
                url : ip + '/success',
                
        }
  } else {
    alert('Your browser doesnt support geolocation. Sorry.');
  }
  
});


</script>

</html>
