<!DOCTYPE html>
<html lang="en">
<head>
	<!-- load up the scripts, links, etc. -->
    <% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>  
    
	<div class="jumbotron">
      <h2>PURCHASE SUCCESSFUL</h2>
    </div>  
</body>

<!-- PUT CLIENT SIDE CODE HERE! -->
<script>
var ERROR_LOG = console.error.bind(console);
var ip = 'https://evening-cove-32171.herokuapp.com'; // app address

$(document).ready(function () {
  var lat, lon, api_url;
  var ID = 'dj0yJmk9NDNVNE5hR25BanJTJmQ9WVdrOWIwWXlVRFkyTkdFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD03OQ--';
  var deg = 'c'; //celcius
  
  if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(gotLocation);
        function gotLocation(position){
            lat = position.coords.latitude;
            lon = position.coords.longitude;
            console.log(position);

            $.ajax({
                type: 'POST',
                url: ip+'/success/recommendations',
                data: JSON.stringify({
                    longitude: lon,
                    latitude: lat
                    }),
                contentType: "application/json",
                dataType: "json", 
                success: function(){               
                  //  window.location.replace(ip + "/profile");
                },
                error:  function(){
                    console.log("fail");
                }
        });           
                
                
                
        }
  } else {
    alert('Your browser doesnt support geolocation. Sorry.');
  }
  
});


</script>

</html>
